* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 1205vh;
    background-color: black;
}

.header-foreground {
    width: 75%;
    background-color: #39352a;
    height: 1145vh;
    position: absolute;
    margin-left: 184px;
    margin-top: 350px;
}

.everhood-logo {
    background-image: url(/css/img/GameLogos/EverhoodLogo.png);
    background-size: 650px;
    background-repeat: no-repeat;
    width: 60%;
    height: 4%;
    position: absolute;
    margin-left: 225px;
    margin-top: -41px;
}

.fun-fact-background {
    margin-left: 60px;
    margin-top: 40px;
    background: #0e1824;
    width: 720px;
    height: 250px;
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
}

.fun-fact-background-char-desc {
    margin-left: 61px;
    margin-top: 40px;
    background: #0e1824;
    width: 850px;
    height: 625px;
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
}

.smol-text {
    margin-left: 485px;
    margin-top: 50px;
    color: #fff;
    font-size: 16px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.dev-gnomes-img {
    background-image: url(/css/img/Everhood/Battle_Sprite_Dev_Gnomes.png);
    background-size: 500px;
    margin-left: 240px;
    margin-top: 30px;
    background-repeat: no-repeat;
    width: 50%;
    height: 3%;
    position: absolute;
}

.text-under-img-dev-gnomes {
    color: darkgrey;
    font-style: italic;
    font-size: 18px;
    margin-top: 260px;
    margin-left: 138px;
}

.text-under-img-char-desc {
    color: darkgrey;
    font-style: italic;
    font-size: 18px;
    margin-top: 130px;
    margin-left: 380px;
}

.space1 {
    margin-top: 140px;
}

.space2 {
    margin-top: 70px;
}

.space3 {
    margin-top: 80px;
}

.main-text-under-img-everhood {
    margin-top: 480px;
    margin-left: 60px;
    margin-right: 60px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.character-description-background {
    margin-left: 50px;
    margin-top: 40px;
    background: #302112;
    width: 89%;
    height: 2100px;
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1c1309;
}

.character-description-green-mage {
    margin-top: 20px;
    margin-left: 435px;
    margin-right: 30px;
    color: #fff;
    font-size: 20px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.character-description-gnomes {
    margin-top: 20px;
    margin-left: 315px;
    margin-right: 30px;
    color: #fff;
    font-size: 20px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.story-img {
    background-image: url(/css/img/Everhood/Everhood_Beginning.png);
    background-size: 750px;
    margin-left: 175px;
    margin-top: 40px;
    background-repeat: no-repeat;
    width: 70%;
    height: 6%;
    position: absolute;
}

.red-img1 {
    background-image: url(/css/img/Everhood/Portrait_Red_Everhood.png);
    background-size: 250px;
    margin-left: 40px;
    margin-top: 65px;
    background-repeat: no-repeat;
    width: 23%;
    height: 4%;
    position: absolute;
}

.red-img2 {
    background-image: url(/css/img/Everhood/Sprite_Red_Everhood.png);
    background-size: 70px;
    margin-left: 295px;
    margin-top: 217px;
    background-repeat: no-repeat;
    width: 6%;
    height: 8%;
    position: absolute;
}

.old-red-design {
    background-image: url(/css/img/Everhood/Concept_Artwork_Red_Scrapped_Game_Everhood.png);
    background-size: 220px;
    margin-left: 555px;
    background-repeat: no-repeat;
    width: 20%;
    height: 3%;
    position: absolute;
}

.geno-img {
    background-image: url(/css/img/Other/SMRPG_NS_Geno_\(no_shadow\).png);
    background-size: 150px;
    margin-left: 585px;
    margin-top: 100px;
    background-repeat: no-repeat;
    width: 15%;
    height: 4%;
    position: absolute;
}

.blue-thief-img1 {
    background-image: url(/css/img/Everhood/Portrait_Blue_Thief_Everhood.png);
    background-size: 250px;
    margin-left: 40px;
    margin-top: 65px;
    background-repeat: no-repeat;
    width: 23%;
    height: 4%;
    position: absolute;
}

.blue-thief-img2 {
    background-image: url(/css/img/Everhood/Sprite_Blue_Thief_2_Everhood.png);
    background-size: 100px;
    margin-left: 295px;
    margin-top: 255px;
    background-repeat: no-repeat;
    width: 6%;
    height: 8%;
    position: absolute;
}

.green-mage-img1 {
    background-image: url(/css/img/Everhood/Portrait_Green_Mage_Everhood.png);
    background-size: 250px;
    margin-left: 40px;
    margin-top: 75px;
    background-repeat: no-repeat;
    width: 23%;
    height: 4%;
    position: absolute;
}

.green-mage-img2 {
    background-image: url(/css/img/Everhood/Sprite_Green_Mage_Everhood.png);
    background-size: 125px;
    margin-left: 295px;
    margin-top: 215px;
    background-repeat: no-repeat;
    width: 12%;
    height: 8%;
    position: absolute;
}

.gnome-img {
    background-image: url(/css/img/Everhood/Battle_Sprite_Red_Gnome_Everhood.png);
    background-size: 125px;
    margin-left: 100px;
    margin-top: 75px;
    background-repeat: no-repeat;
    width: 23%;
    height: 4%;
    position: absolute;
}

.gnomes-img {
    background-image: url(/css/img/Everhood/Battle_Spritesheet_Particle_Gnomes_Everhood.png);
    background-size: 275px;
    margin-left: 75px;
    margin-top: 360px;
    background-repeat: no-repeat;
    width: 16%;
    height: 5%;
    position: absolute;
}

.ATM-battle-img {
    background-image: url(/css/img/Everhood/Everhood_ATM_Battle.png);
    background-size: 750px;
    margin-left: 175px;
    margin-top: 40px;
    background-repeat: no-repeat;
    width: 70%;
    height: 6%;
    position: absolute;
}