* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: black;
}

main {
    width: 70%;
    padding: 0 0 75px;
    background-color: #39352a;
    margin: 100px auto 100px;
}

.logo img {
    width: 60%;
}

img {
    margin: 40px auto 40px auto;
}

figcaption {
    text-align: center;
}

figure img {
    margin: auto;
}

.fun-fact-background-char-desc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background: #0e1824;
    width: 850px;
    height: 625px;
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
}

small {
    display: flex;
    justify-content: end;
    margin-right: 48px;
    font-size: 16px;
    text-align: justify;
}

.character-description-background {
    margin: 40px auto;
    padding: 20px auto 20px auto;
    background: #302112;
    width: 88%;
    height: auto;
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1c1309;
}

.grid {
    display: grid;
    grid-template-columns: 35% 15% auto;
    grid-template-rows: 20px auto auto auto 20px auto 20px auto 60px auto;
}

.grid img {
    margin: 20px auto;
}

.fun-fact-text figure {
    width: 100%;
    height: 100%;
    float: inline-end;
    margin: auto;
}

.fun-fact-text figure figcaption {
    font-size: 18px;
    text-align: center;
}

.fun-fact-text .grid {
    grid-template-columns: auto auto;
    grid-template-rows: auto 20px auto;
}

.grid .fun-fact-main-text {
    margin-right: 10px;
}