* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 525vh;
    background-color: #191A1D;
}

.header-foreground {
    padding: 0 0 150px;
    background-color: #2F3A4A;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 350px 240px 0;
}

img {
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
.omori-logo {
    background-image: url(/css/img/GameLogos/OMORIlogo.png);
    background-size: 375px;
    background-repeat: no-repeat;
    width: 50%;
    height: 10%;
    position: absolute;
    margin-left: 625px;
    margin-top: 20px;
}
    
.madratdead-logo {
    background-image: url(/css/img/GameLogos/MadRatDeadLogo.png);
    background-size: 400px;
    background-repeat: no-repeat;
    width: 50%;
    height: 13%;
    position: absolute;
    margin-left: 90px;
    margin-top: 200px;
}
    
.pizzatower-logo {
    background-image: url(/css/img/GameLogos/PizzaTowerlogo.png);
    background-size: 375px;
    background-repeat: no-repeat;
    width: 50%;
    height: 10%;
    position: absolute;
    margin-left: 360px;
    margin-top: 480px;
}




/* .fun-fact-background {
    margin-left: 100px;
    margin-top: 40px;
    background: #002137;
    width: 700px;
    height: 300px;
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
} */

/* .character-description-background {
    margin-left: 50px;
    margin-top: 40px;
    background: #302112;
    width: 89%;
    height: 30%;
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1c1309;
} */