* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url(/css/img/Background/KRTDL_background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
}

main {
    padding: 0 0 100px;
    background-color: #fff984;
    margin: 350px 240px auto;
    /* display: flex;
    flex-direction: column; */
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: #a87800;
}

img {
    width: 40%;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    float: right;
}

/* .container img {
    width: 50%;
} */
