* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 425vh;
    background-color: #191A1D;
}

.header-foreground {
    width: 75%;
    height: 385vh;
    background-color: #2F3A4A;
    position: absolute;
    margin-left: 184px;
    margin-top: 350px;
}

h1 {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.h1-under {
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.main-text {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.category {
    margin-top: 40px;
    margin-left: 60px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    line-height: 38px;
}

.everhood-logo {
    background-image: url(/css/img/GameLogos/EverhoodLogo.png);
    background-size: 410px;
    background-repeat: no-repeat;
    width: 50%;
    height: 10%;
    position: absolute;
    margin-left: 90px;
}

.omori-logo {
    background-image: url(/css/img/GameLogos/OMORIlogo.png);
    background-size: 375px;
    background-repeat: no-repeat;
    width: 50%;
    height: 10%;
    position: absolute;
    margin-left: 625px;
    margin-top: 20px;
}

.madratdead-logo {
    background-image: url(/css/img/GameLogos/MadRatDeadLogo.png);
    background-size: 400px;
    background-repeat: no-repeat;
    width: 50%;
    height: 13%;
    position: absolute;
    margin-left: 90px;
    margin-top: 200px;
}

.kirby-logo {
    background-image: url(/css/img/GameLogos/KirbyLogo.png);
    background-size: 375px;
    background-repeat: no-repeat;
    width: 50%;
    height: 10%;
    position: absolute;
    margin-left: 625px;
    margin-top: 260px;
}

.pizzatower-logo {
    background-image: url(/css/img/GameLogos/PizzaTowerlogo.png);
    background-size: 375px;
    background-repeat: no-repeat;
    width: 50%;
    height: 10%;
    position: absolute;
    margin-left: 360px;
    margin-top: 480px;
}

.main-text-under-img {
    margin-top: 745px;
    margin-left: 60px;
    margin-right: 60px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.h1-under-2 {
    margin-top: 100px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.category-under-logo {
    margin-top: 300px;
    margin-left: 60px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    line-height: 38px;
}

/* .fun-fact-background {
    margin-left: 100px;
    margin-top: 40px;
    background: #002137;
    width: 700px;
    height: 300px;
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
} */

/* .character-description-background {
    margin-left: 50px;
    margin-top: 40px;
    background: #302112;
    width: 89%;
    height: 30%;
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1c1309;
} */

.fun-fact-text {
    margin-top: 20px;
    margin-left: 27px;
    color: #fff;
    font-size: 40px;
    text-indent: 11px;
    line-height: 38px;
    font-weight: bold;
}

.fun-fact-main-text {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 45px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.fun-fact-main-text-with-img {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 317px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.character-description {
    margin-top: 20px;
    margin-left: 385px;
    margin-right: 30px;
    color: #fff;
    font-size: 20px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

footer {
    background-color: #191A1D;
    color: #fff;
    text-align: center;
    padding: 100px;
    font-size: 32px;
}