* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.h1-under {
    margin: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-indent: 38px;
    line-height: 50px;
}

.main-text {
    margin: 40px 60px auto 60px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.main-text-black {
    margin: 40px 60px auto 60px;
    color: #000;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

img {
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
    display: block;
}

.category {
    margin: 40px auto auto 60px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    line-height: 38px;
}

.category-black {
    margin: 40px auto auto 60px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    line-height: 38px;
}

.category-under-logo-black {
    margin-top: 30px;
    margin-left: 60px;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    line-height: 38px;
}

.fun-fact-text {
    margin-left: 27px;
    color: #fff;
    font-size: 40px;
    text-indent: 11px;
    line-height: 38px;
    font-weight: bold;
}

.fun-fact-main-text {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 45px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

figure {
    position: relative;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

figure img {
    display: block;
}

figcaption {
    margin: 10px auto;
    color: rgb(201, 201, 201);
    font-style: italic;
    font-size: 20px;
}

.fun-fact-main-text-with-img {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 317px;
    color: #fff;
    font-size: 25px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.character-description {
    margin: 20px 30px auto;
    color: #fff;
    font-size: 20px;
    text-align: justify;
    text-indent: 38px;
    line-height: 38px;
}

.fun-fact-background {
    margin: 30px auto 30px auto;
    background: #0e1824;
    width: 88%;
    padding: 20px 0 20px 0;
    border-width: thick;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
}

iframe {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.music-author-title {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: #fff;
}

audio {
    margin: auto;
}

.info-text {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    color: cornflowerblue;
    font-size: 25px;
}